/src/graph_generator_assistant/modules/__pycache__/
/boveda/*/*.synctex.gz
/boveda/*/*.aux
/boveda/*/*.log
/boveda/*/*.pdf
/boveda/*.pdf
/src/graph_generator_assistant/__pycache__/
/src/graph_generator_assistant/templates/__pycache__/
